version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql 
      - ./mysql-initi:/docker-entrypoint-initdb.d
    networks:
      - app-network

  # HABÍAS BORRADO ESTO:
  redis:
    image: redis:alpine
    container_name: redis_container
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_container
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  ms-security:
    build: ./security-service
    container_name: ms_security
    ports:
      - "3001:3000"
    environment:
      - DB_HOST=mysql
      - DB_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - DB_NAME=db_security
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mysql
    networks:
      - app-network

  ms-clients:
    build: ./clients-service
    container_name: ms_clients
    ports:
      - "3002:3000"
    environment:
      - DB_HOST=mysql
      - DB_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - DB_NAME=db_clients
      - REDIS_HOST=redis
      - RABBIT_HOST=rabbitmq
      - SECURITY_MS_URL=http://ms-security:3000 
    depends_on:
      - mysql
      - redis    # Ahora sí existe arriba
      - rabbitmq
    networks:
      - app-network

  ms-emails:
    build: ./emails-service
    container_name: ms_emails
    ports:
      - "3003:3000"
    environment:
      - PORT=3000
      - DB_HOST=mysql
      - DB_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - DB_NAME=db_emails  
      - RABBIT_HOST=rabbitmq
    depends_on:
      - mysql
      - rabbitmq
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
  redis_data:
  rabbitmq_data: